.App {
  font-family: sans-serif;
  /* display: flex; */
}

.row {
  margin: 2px 0;
  padding: 4px;
  border: 1px solid gray;
  cursor: pointer;
}

.scrollContainer {
  width: 50%;
  margin-top: 300px;
  height: 1000px;
  overflow-y: scroll;
}

.wrapper {
  flex-grow: 1;
  font-size: 30px;
}
